.end {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 20px;

  .dining-room {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 20px;
    padding-left: 40px;

    .dining1 {
      height: 672px;
      width: 474px;
      border-radius: 15px 15px 15px 15px;
    }
  }

  .dining-room2 {
    display: flex;
    flex-direction: row;

    .dining2 {
      border-radius: 15px 15px 15px 15px;
    }
  }

  .dining-text {
    font-family: $mainFont;
    font-style: italic;
    padding: 100px;
    text-align: center;
    align-items: center;
    max-width: 800px;

    .decorative-line {
      height: 4px; /* Set the height of the line */
      width: 40%; /* Set the width of the line */
      background-color: $green; /* Set the color of the line */
      margin: 30px auto; /* Adjust margin as needed */
      border-top: solid 1px black;
      overflow: visible;
    }

    .second-message {
      font-size: 20px;
      font-weight: 600;
      color: $darkGreen;
      padding-bottom: 20px;
    }
  }
}
