.dishes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  padding-left: 10%;

  .dish-images {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 40px;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: auto;

    .dish1 {
      height: 200px;
      width: 300px;
      border-radius: 0px 0px 15px 15px;
      box-shadow: 4px 4px 0px 0px $darkGreen;
      border: solid thin $darkGreen;
      margin: 10px;
      transition: opacity 0.3s ease-in-out;
    }

    .dish1:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
