$mainFont: "Poppins", sans-serif;
$mainColor: "";
$accentColor: "";
$baseColor: "";
$green: rgb(69, 197, 69);
$darkGreen: rgb(22, 65, 22);
a {
  /* display: flex;
  flex-direction: row; */
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 10px;
}

.decorative-line {
  height: 4px; /* Set the height of the line */
  width: 40%; /* Set the width of the line */
  background-color: $green; /* Set the color of the line */
  margin: 30px 0; /* Adjust margin as needed */
  border-top: solid 1px black;
  overflow: visible;
}
