$mainFont: "Poppins", sans-serif;
$mainColor: "";
$accentColor: "";
$baseColor: "";
$green: rgb(69, 197, 69);
$darkGreen: rgb(22, 65, 22);

a {
  /* display: flex;
  flex-direction: row; */
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 10px;
}
