.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(https://t4.ftcdn.net/jpg/05/83/02/59/240_F_583025997_mDUxyzMh6dXYHyViAMv8IixyNZk7EDzD.jpg);
  background-repeat: no-repeat;
  background-position: right 264px center;
  background-size: 180px;
  min-width: 500px;

  @media (max-width: 1600px) {
    background-position: right 200px center;
  }

  .large-statement {
    font-size: 40px;
    font-weight: 600;
  }

  .small-statement {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
  }

  .second-message {
    font-size: 20px;
    font-weight: 600;
    color: $darkGreen;
    padding-bottom: 20px;
  }

  button {
    font-size: 2rem;
    color: white;
    background-color: $darkGreen;
    width: 20%;
    border-radius: 10px 10px 10px 10px;
    transition: color 0.3s ease-in-out;

    @media (max-width: 600px) {
      width: 30%;
      min-width: 200px;
    }
  }

  button:hover {
    color: $green;
    cursor: pointer;
  }

  .decorative-line {
    height: 4px; /* Set the height of the line */
    width: 40%; /* Set the width of the line */
    background-color: $green; /* Set the color of the line */
    margin: 30px auto; /* Adjust margin as needed */
    border-top: solid 1px black;
    overflow: visible;
  }
}

.background-transparent {
  background-image: url(https://t4.ftcdn.net/jpg/05/83/02/59/240_F_583025997_mDUxyzMh6dXYHyViAMv8IixyNZk7EDzD.jpg);
  background-repeat: no-repeat;
  mix-blend-mode: darken;
  background-color: transparent;
  // z-index: 500;
}
