.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(69, 197, 69);
  flex-direction: row;

  width: 100%;
  height: auto;
  color: white;

  transition: color 0.3s ease-in-out;

  @media (max-width: 1200px) {
    /* Hide the links by default */
    .logo,
    .navbar-link,
    .title,
    .name,
    .description {
      display: none;
    }

    /* Show the hamburger menu icon */
    .hamburger-menu {
      display: block !important;
      position: relative;
      width: 80px;
      height: 80px;
      background-color: $darkGreen;
      color: white;
      text-align: center;
      line-height: 80px;
      cursor: pointer;
      margin: 10px;
      border-radius: 10px 10px 10px 10px;
      transition: color 0.3s ease-in-out;
    }
  }

  .navbar-link a:hover {
    color: $darkGreen;
    cursor: pointer;
  }

  /* Styling for the hamburger menu icon */
  .hamburger-menu {
    display: none;
    cursor: pointer;

    /* Add additional styling as needed */
  }
}
