@import "global";
@import "nav";
@import "hero";

.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  height: auto;

  width: 40%;
}

.logo {
  padding: 5px;
  background-color: transparent;
  img {
    height: 32px;
    width: 30px;
  }
}

.background-transparent {
  mix-blend-mode: darken;
  background-color: transparent;
}

.title {
  display: flex;
  flex-direction: row;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;

  padding: 10px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: italic;
  padding-top: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: auto;
  justify-content: space-evenly;
  padding: 20px;
}
